<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let recipe  of recipes">
            <div class="float-left">
                <h4 class="mb-1">{{recipe.name}}</h4>
                <p class="mb-1">
                        {{recipe.description}}
                </p>
            </div>
            <span class="float-right">
                <img src={{recipe.imagePart}} alt={{recipe.name}} class="img-fluid rounded-circle" style="max-height: 60px; margin-left: 10px">
            </span>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>
